.wclCertificate {
    background-color: rgb(0, 116, 161);
    color: white;
    width: 17%;
    height: 30%;
    left: 41%;
    right: 41%;
    position: fixed;
    bottom: 3px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 5px 5px 40px -12px rgb(155, 155, 155);
    z-index: 100;
}

.wclCertificateCongrats {
    height: 50%;
    color: white;
    font-family: 'Pacifico', cursive;
    text-align: center;
}

.wclCertificateCongrats p{
    display: block;
    position: relative;
    font-size: 3.7vw;
    top: 20%;
}


.wclCertificateLine {
    background-color: rgb(155, 155, 155);
    height: 1%;

}

.wclCertificateText {
    height: 49%;
}

.wclCertificateText p{
    font-size: 1vw;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    text-justify: auto;
    display: block;
    position: relative;
    top: 10%;
}


/*Mobile Portrait and Landscape*/
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px) {
    .wclCertificate {
        background-color: rgb(0, 116, 161);
        color: #ffffff;
        width: 30%;
        height: 18%;
        left: 35%;
        right: 41%;
        position: fixed;
        bottom: 3px;
        border-radius: 10px;
        padding: 10px;
        box-shadow: 5px 5px 40px -12px rgb(155, 155, 155);
        z-index: 100;
    }

    .wclCertificateCongrats {
        height: 50%;
        color: white;
        font-family: 'Pacifico', cursive;
        text-align: center;
    }
    
    .wclCertificateCongrats p{
        display: block;
        position: relative;
        font-size: 6vw;
        top: 25%;
    }
    
    
    .wclCertificateLine {
        background-color: rgb(155, 155, 155);
        height: 1%;
    
    }
    
    .wclCertificateText {
        height: 39%;
    }
    
    .wclCertificateText p{
        font-size: 2.2vw;
        font-style: italic;
        font-weight: bold;
        text-align: center;
        text-justify: auto;
        display: block;
        position: relative;
        top: 20%;
    }

}

/*Mobile Portrait and Landscape*/
@media only screen 
  and (min-device-width: 480px) 
  and (max-device-width: 768px) {
    .wclCertificate {
        background-color: rgb(0, 116, 161);
        color: #ffffff;
        width: 30%;
        height: 18%;
        left: 35%;
        right: 41%;
        position: fixed;
        bottom: 3px;
        border-radius: 10px;
        padding: 10px;
        box-shadow: 5px 5px 40px -12px rgb(155, 155, 155);
        z-index: 100;
    }

    .wclCertificateCongrats {
        height: 50%;
        color: white;
        font-family: 'Pacifico', cursive;
        text-align: center;
    }
    
    .wclCertificateCongrats p{
        display: block;
        position: relative;
        font-size: 6vw;
        top: 0%;
    }
    
    
    .wclCertificateLine {
        background-color: rgb(155, 155, 155);
        height: 1%;
    
    }
    
    .wclCertificateText {
        height: 39%;
    }
    
    .wclCertificateText p{
        font-size: 2.2vw;
        font-style: italic;
        font-weight: bold;
        text-align: center;
        text-justify: auto;
        display: block;
        position: relative;
        top: 10%;
    }

}

/* Tablet Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

    .wclCertificate {
        background-color: rgb(0, 116, 161);
        color: #ffffff;
        width: 25%;
        height: 20%;
        left: 38%;
        right: 41%;
        position: fixed;
        bottom: 3px;
        border-radius: 10px;
        padding: 10px;
        box-shadow: 5px 5px 40px -12px rgb(155, 155, 155);
        z-index: 100;
    }

    .wclCertificateCongrats {
        height: 50%;
        color: white;
        font-family: 'Pacifico', cursive;
        text-align: center;
    }
    
    .wclCertificateCongrats p{
        display: block;
        position: relative;
        font-size: 5.5vw;
        top: 0%;
    }
    
    
    .wclCertificateLine {
        background-color: rgb(155, 155, 155);
        height: 1%;
    
    }
    
    .wclCertificateText {
        height: 42%;
    }
    
    .wclCertificateText p{
        font-size: 1.7vw;
        font-style: italic;
        font-weight: bold;
        text-align: center;
        text-justify: auto;
        display: block;
        position: relative;
        top: 12%;
    }

}

/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1025px) 
  and (max-device-width: 1920px) {

    .wclCertificate {
        background-color: rgb(0, 116, 161);
        color: #ffffff;
        width: 20%;
        height: 30%;
        left: 40%;
        right: 41%;
        position: fixed;
        bottom: 3px;
        border-radius: 10px;
        padding: 10px;
        box-shadow: 5px 5px 40px -12px rgb(155, 155, 155);
        z-index: 100;
    }

    .wclCertificateCongrats {
        height: 50%;
        color: white;
        font-family: 'Pacifico', cursive;
        text-align: center;
    }
    
    .wclCertificateCongrats p{
        display: block;
        position: relative;
        font-size: 4vw;
        top: 10%;
    }
    
    
    .wclCertificateLine {
        background-color: rgb(155, 155, 155);
        height: 1%;
    
    }
    
    .wclCertificateText {
        height: 42%;
    }
    
    .wclCertificateText p{
        font-size: 1.2vw;
        font-style: italic;
        font-weight: bold;
        text-align: center;
        text-justify: auto;
        display: block;
        position: relative;
        top: 12%;
    }
    

}